.menu-section{
  margin-bottom: 2rem;
}

.menu{
  background-color: black;
  color: white;
}

.menu ul li a{
  display: block;
  padding: .6rem 1rem;
}

.menu ul li a:hover{
  background-color: darkgrey;

}

